<mat-toolbar color="accent">
    <img src="../assets/logo.png" alt="" srcset="" width="100px">
    <span>NUS-ISS VTTP Website</span>
    <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>login</mat-icon>
        </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
